.test-outline {
  margin: 10px;
  border: 5px solid red;
  padding: 10px;
  outline: 5px solid green;
  /* outline-offset: 30px; */
}

.test-color {
  /* Color name */
  /* color: red; */
  /* Hexadecimal */
  /* color: #rrggbb; */
  background-color: #0000ff;
  /* RGB */

  color: rgba(255, 0, 0);
  /* background-color: rgba(0-255, 0-255, 0-255, 0-1); */
  /* HSL */
  /* H - Hue (0-360)
    S- Saturation : 0-100%
    L - Lightness : 0-100%

    red - 0-360
    120 - Green
    240 - Blue */

  /* background-color: hsl(0, 100%, 50%); */

  /* background-color: hsla(0, 100%, 50%, 0.5); */
}

.test-background {
  /* background-color: ; */
  background-image: url("./../Image/small/1000-TH-1_AIRCAT-US-IS.jpg");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: right top;
  /* height: 1000px; */
  /* max-width: 1000px;
  max-height: 200px; */
  /* overflow: auto; */
  /* background-attachment: fixed; */

  /* background: url("./../Image/small/1000-TH-1_AIRCAT-US-IS.jpg") no-repeat right
    bottom; */

  background-attachment: fixed;
  height: 1000px;
}

body {
  background-color: #c4c4f1;
}

/* <span class="min-height-width-test">test</span> */
.min-height-width-test {
  /* min-height: 100px;
  min-width: 100px; */
  background-color: #f1c4c4;
  display: inline-block;
}
