/* div {
  /* width: 100px; 
  background-color: red;
  height: 100px;
  width: 500px;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  /* display: inline; 
}

span {
  background-color: orange;
  /* height: 100px;
  height: 100px;
  width: 500px;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  display: inline-block;
  /* display: block; 
} */

/* .flex-container {
  display: flex;
  flex-wrap: wrap;
}

div {
  background-color: red;
} */
