.font-class {
  /* color: red;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 600;
  font-variant: small-caps;
  font-style: initial; */

  /* text-align: right; */
  /* display: flex;
  height: 100px; */
  /* vertical-align: middle; */

  /* text-align-last: center; */

  /* direction: rtl;
  unicode-bidi: bidi-override; */

  vertical-align: baseline;
  background-color: aqua;
  height: 100px;
}

.font-span {
  text-align: center;

  /* text-decoration-line: line-through;
  text-decoration-color: brown;
  text-decoration-style: wavy;
  text-decoration-thickness: 5px; */

  text-decoration: line-through brown wavy 5px;
}

.text-transform {
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  text-indent: 20px;
  letter-spacing: 2px;
  /* line-height: 10px; */
  word-spacing: 10px;
  width: 200px;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 2px red;
}

.test-div {
  display: flex;
  background-color: aqua;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.vertical-align-class {
  vertical-align: middle;
}

table,
tr,
td {
  border: 1px solid black;
  height: 50px;
}
