.test-box-model1 {
  background-color: seagreen;
  color: white;
  /* margin: 10px; */
  /* margin-top: 10px; */
  margin: 50px;
  width: 40%;
}

.test-box-model2 {
  background-color: seagreen;
  color: white;
  margin: 10px;
  /* margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 40px; */

  /* With four side different value */
  /* margin: 10px 40px 20px 30px; */

  /* Three side value */
  margin: 10px 40px 20px;

  /* Two side value */
  margin: 10px 40px;
  /* margin: 10px; */
  /* margin-top: 2px; */
  width: 40%;
}

/* body {
  display: flex;
} */

p {
  margin: inherit;
}

.test-box-model3 {
  /* border-width: 10px;
  border-style: solid;
  border-color: red;
  border-radius: 10px; */

  /* 
   */
  /* border-top-style: dotted;
  border-right-style: groove;
  border-bottom-style: outset;
  border-left-style: ridge;
  border-top-width: 10px; */

  /* border-style: dotted groove outset ridge;
  border-width: 10px 20px 30px 40px;
  border-color: red green blue yellow; */

  border-top: 10px solid red;
  border-right: 20px solid green;
  border-bottom: 30px solid blue;
  border-left: 40px solid yellow;

  border: 1px solid red;

  /* Padding */
  /* padding: 10px; */
  padding-top: 10px;
}

body {
  /* margin-left: 50px; */
}

.test-box-model4 {
  width: 100%;
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
}
