/* Psuedo Class Selector */

/* a:link {
  color: pink;
} */

a:visited {
  color: green;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}

input:disabled {
  background-color: red;
}

/* p:first-child {
  color: red;
} */

/* Pseudo Elements */
/* p::before {
  /* content: "Hello "; 
  color: red;
} */

/* p::after {
  /* content: "World! "; 
  color: red;
} */

li::marker {
  color: red;
  /* content: url("https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"); */
}

/* p::first-letter {
  color: red;
  font-size: 50px;
}

p::first-line {
  color: red;
  font-size: 50px;
} */

p::selection {
  color: yellow;
  font-size: 50px;
}

/* Combinator Selectors */
/* Descendant Selector */
div p {
  color: orange;
}

/* Child Selector */
div > p {
  color: red;
}

/* Adjacent Sibling Selector */
div + p {
  color: yellow;
}

/* General Sibling Selector */
div ~ p {
  color: green !important;
  font-size: 10px;
}

/* Specificty in CSS */
/* * 
Universal Selector - 0
Element Selector/pseudo Element Selector - 0,0,0,1
Class Selector/pseudo Class Selector - 1,0
ID Selector - 1,0,0
Inline Style - 1,0,0,0
!important - 1,0,0,0,0 
*/

/* #id1 {
  color: yellow;
} */

div {
}
* {
  color: red;
  font-family: "Courier New", Courier, monospace;
}

/* div.class1 {
  color: green;
}
1,1 */
.test123 {
  color: yellow !important;
  font-size: 20px;
}

.class1 {
  color: blue;
  font-size: 10px;
}

.class1.test123.test {
  color: green;
}
/* 3,0 */
/* 1,0 */

/* 1, 0 */
/* div {
  color: pink !important;
} */
