ul li {
  /* list-style-type: square; */
  /* list-style-position: ; */
  /* list-style-image: url("./../Image/cat/photo-1529778873920-4da4926a72c2.avif"); */

  list-style: square inside;
}

li {
  background-color: aqua;
}

* {
  font-family: "Roboto", sans-serif;
}
